<section class="contacts section">
  <div class="container">
    <div class="contacts__inner">
      <div class="contacts__info">
        <h2 class="title contacts__title">Связаться с нами</h2>
        <div class="contacts__item">
          <img data-src="img/icons/location.svg" alt="location"
            class="lazyload contacts__icon"
            src="data:image/gif;base64,R0lGODlhDgAUAIAAAP///wAAACH5BAEAAAEALAAAAAAOABQAAAIPjI+py+0Po5y02ouz3qgAADs=">
          <div class="contacts__text">
            115054, Москва, Большой Строченовский переулок, дом 7
          </div>
        </div>
        <a href="tel:+74952155579" class="contacts__item contacts__phone">
          <img data-src="img/icons/phone.svg" alt="phone"
            class="lazyload contacts__icon"
            src="data:image/gif;base64,R0lGODlhEgASAIAAAP///wAAACH5BAEAAAEALAAAAAASABIAAAIPjI+py+0Po5y02ouz3pwXADs=">
          <div class="contacts__text">
            +7 (495) 21-555-79
          </div>
        </a>
        <a href="mailto:ask@propartners.ru"
          class="contacts__item contacts__email">
          <img data-src="img/icons/email.svg" alt="email"
            class="lazyload contacts__icon"
            src="data:image/gif;base64,R0lGODlhEgAOAIAAAP///wAAACH5BAEAAAEALAAAAAASAA4AAAINjI+py+0Po5y02otzLgA7">
          <div class="contacts__text">
            ask@propartners.ru
          </div>
        </a>
        <div class="contacts__item">
          <img data-src="img/icons/requisites.svg" alt="requisites"
            class="lazyload contacts__icon"
            src="data:image/gif;base64,R0lGODlhEgASAIAAAP///wAAACH5BAEAAAEALAAAAAASABIAAAIPjI+py+0Po5y02ouz3pwXADs=">
          <div class="contacts__text contacts__date">
            <div class="contacts__date-name">
              <div>ИНН:</div>
              <div>ОГРН:</div>
              <div>КПП:</div>
            </div>
            <div class="contacts__date-num">
              <div>6667778888</div>
              <div>1136671068114</div>
              <div>698101001</div>
            </div>
          </div>
        </div>
      </div>
      <div class="contacts__map-wrapper">
        <div class="contacts__map">
          <div class="map-protection">
            Для активации карты нажмите по ней
          </div>
          
        </div>
      </div>
    </div>
  </div>
</section>