<header class="header">
  <div class="header__top-wrapper">
    <div class="container-responsive">
      <div class="header__top">
        <div class="header__info">
          Входим в Топ 100 поставщиков химии в мире. ICIS
        </div>
        <div class="header__more">
          <div class="header__countries">
            <img data-src="img/icons/russia.svg" alt="russia"
              class="lazyload header__countries-item"
              src="data:image/gif;base64,R0lGODlhGAAQAIAAAP///wAAACH5BAEAAAEALAAAAAAYABAAAAIRjI+py+0Po5y02ouz3rz7rxQAOw==">
            <img data-src="img/icons/china.svg" alt="china"
              class="lazyload header__countries-item"
              src="data:image/gif;base64,R0lGODlhGAAQAIAAAP///wAAACH5BAEAAAEALAAAAAAYABAAAAIRjI+py+0Po5y02ouz3rz7rxQAOw==">
            <img data-src="img/icons/usa.svg" alt="usa"
              class="lazyload header__countries-item"
              src="data:image/gif;base64,R0lGODlhGAAQAIAAAP///wAAACH5BAEAAAEALAAAAAAYABAAAAIRjI+py+0Po5y02ouz3rz7rxQAOw==">
          </div>
          <button class="header__btn">Связаться</button>
        </div>
      </div>
    </div>
  </div>
  <div class="header__bottom-wrapper">
    <div class="container-responsive">
      <div class="header__bottom">
        <div class="header__bottom-left">
          <a href="index.php">
            <img data-src="img/icons/logo.svg" alt="svg"
              class="lazyload mw-100 header__logo"
              src="data:image/gif;base64,R0lGODlh/gBBAIAAAP///wAAACH5BAEAAAEALAAAAAD+AEEAAAKcjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6ipqqusra6voKGys7S1tre4ubu1IAADs=">
          </a>
          <img data-src="img/icons/mouse.png" alt="mouse"
            class="lazyload mw-100 header__mouse"
            src="data:image/gif;base64,R0lGODlhOgBbAIAAAP///wAAACH5BAEAAAEALAAAAAA6AFsAAAJPjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqs7BQA7">
          <nav class="header__nav">
            <ul class="header__nav-list">
              <li class="header__nav-item">
                <a href="index.php" class="header__nav-link active">Главная</a>
              </li>
              <li class="header__nav-item">
                <a href="catalog.php" class="header__nav-link">Каталог</a>
              </li>
              <li class="header__nav-item">
                <a href="news.php" class="header__nav-link">Новости</a>
              </li>
              <li class="header__nav-item">
                <a href="family.php" class="header__nav-link">Семья</a>
              </li>
              <li class="header__nav-item">
                <a href="productions.php"
                  class="header__nav-link">Произодства</a>
              </li>
              <li class="header__nav-item">
                <a href="about.php" class="header__nav-link">О нас</a>
              </li>
              <li class="header__nav-item">
                <a href="contacts.php" class="header__nav-link">Контакты</a>
              </li>
            </ul>
            <div class="header__countries-mob">
              <img data-src="img/icons/russia.svg" alt="russia"
                class="lazyload header__countries-item"
                src="data:image/gif;base64,R0lGODlhGAAQAIAAAP///wAAACH5BAEAAAEALAAAAAAYABAAAAIRjI+py+0Po5y02ouz3rz7rxQAOw==">
              <img data-src="img/icons/china.svg" alt="china"
                class="lazyload header__countries-item"
                src="data:image/gif;base64,R0lGODlhGAAQAIAAAP///wAAACH5BAEAAAEALAAAAAAYABAAAAIRjI+py+0Po5y02ouz3rz7rxQAOw==">
              <img data-src="img/icons/usa.svg" alt="usa"
                class="lazyload header__countries-item"
                src="data:image/gif;base64,R0lGODlhGAAQAIAAAP///wAAACH5BAEAAAEALAAAAAAYABAAAAIRjI+py+0Po5y02ouz3rz7rxQAOw==">
            </div>
          </nav>
          <div class="header__burger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="header__bottom-right">
          <div class="header__location">Работаем по всей России</div>
          <form action="#" method="GET" class="header__form" data-no-send="true">
            <input type="text" class="input header__search"
              placeholder="Найти продукт" data-no-validate="true">
            <button class="header__btn-submit">
              <img data-src="img/icons/search.svg" alt="search" class="lazyload"
                src="data:image/gif;base64,R0lGODlhEgASAIAAAP///wAAACH5BAEAAAEALAAAAAASABIAAAIPjI+py+0Po5y02ouz3pwXADs=">
            </button>
          </form>
          <div class="header__contacts">
            <a href="tel:84957108642" class="header__phone">8 495 710-86-42</a>
            <a href="mailto:ask@propartners.ru"
              class="header__email">ask@propartners.ru</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>