<div class="mobile-menu">
  <a href="#" class="mobile-menu__item">
    <div class="mobile-menu__img">
      <img data-src="img/icons/whatsapp.svg" alt="whatsapp"
        class="lazyload mobile-menu__icon"
        src="data:image/gif;base64,R0lGODlhEgATAIAAAP///wAAACH5BAEAAAEALAAAAAASABMAAAIQjI+py+0Po5y02ouz3rzXAgA7">
    </div>
    <div class="mobile-menu__text">Whatsapp</div>
  </a>
  <a href="#" class="mobile-menu__item mobile-menu__request-price">
    <div class="mobile-menu__img">
      <img data-src="img/icons/price.svg" alt="price"
        class="lazyload mobile-menu__icon"
        src="data:image/gif;base64,R0lGODlhEgASAIAAAP///wAAACH5BAEAAAEALAAAAAASABIAAAIPjI+py+0Po5y02ouz3pwXADs=">
    </div>
    <div class="mobile-menu__text">Запрос цен</div>
  </a>
  <a href="mailto:ask@propartners.ru" class="mobile-menu__item">
    <div class="mobile-menu__img">
      <img data-src="img/icons/contact.svg" alt="contact"
        class="lazyload mobile-menu__icon"
        src="data:image/gif;base64,R0lGODlhEgAOAIAAAP///wAAACH5BAEAAAEALAAAAAASAA4AAAINjI+py+0Po5y02otzLgA7">
    </div>
    <div class="mobile-menu__text">Написать</div>
  </a>
  <a href="tel:84957108642" class="mobile-menu__item">
    <div class="mobile-menu__img">
      <img data-src="img/icons/phone.svg" alt="phone"
        class="lazyload mobile-menu__icon"
        src="data:image/gif;base64,R0lGODlhEgASAIAAAP///wAAACH5BAEAAAEALAAAAAASABIAAAIPjI+py+0Po5y02ouz3pwXADs=">
    </div>
    <div class="mobile-menu__text">Позвонить</div>
  </a>
</div>