<section class="section numbers" id="numbers">
  <div class="container">
    <h2 class="title numbers__title">
      Компания
      <span class="bold">с безупречной репутацией</span>
    </h2>
    <p class="numbers__text">
      Наша компания за 19 лет работы (а мы работаем с 2001 года) заслужила
      доверие у своих клиентов. Мы дорожим своей репутацией и дорожим нашими
      клиентами. Буровые реагенты, которое мы продаем отвечает всем стандартам
      качества
      и успешно используется многими нашими клиентами в различных отраслях для
      различных целей.
    </p>
    <div class="numbers__inner-wrap">
      <img class="lazyload mw-100  numbers__victory numbers__victory-left"
        data-src="img/victory-left@2x.png" alt="left"
        src="data:image/gif;base64,R0lGODlhUACqAIAAAP///wAAACH5BAEAAAEALAAAAABQAKoAAAKLjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6iqpUAAA7">
      <div class="numbers__inner">
        <div class="numbers__item wow fadeInUp">
          <div class="numbers__item-top">
            <div class="numbers__item-num">2001</div>
            <div class="numbers__item-category">год</div>
          </div>
          <div class="numbers__item-desc">Дата нашего основания</div>
        </div>
        <div class="numbers__item wow fadeInDown" data-wow-delay=".3s">
          <div class="numbers__item-top">
            <div class="numbers__item-num">1 000</div>
            <div class="numbers__item-category">клиентов</div>
          </div>
          <div class="numbers__item-desc">Постоянно покупают у нас</div>
        </div>
        <div class="numbers__item wow fadeInUp" data-wow-delay=".6s">
          <div class="numbers__circle-wrap">
            <div class="numbers__circle">
              <div class="numbers__circle-text">ТОП</div>
              <div class="numbers__circle-num">100</div>
            </div>
          </div>
          <div class="numbers__item-desc">
            Мы входим в сотню мировых
            поставщиков химсырья по версии ICIS
          </div>
        </div>
        <div class="numbers__item wow fadeInDown" data-wow-delay=".9s">
          <div class="numbers__item-top">
            <div class="numbers__item-num">7 000</div>
            <div class="numbers__item-category">тонн</div>
          </div>
          <div class="numbers__item-desc">
            Ежегодно поставляем буровых реагентов
          </div>
        </div>
        <div class="numbers__item wow fadeInUp" data-wow-delay="1.2s">
          <div class="numbers__item-top">
            <div class="numbers__item-num">14</div>
            <div class="numbers__item-category">МЛРД</div>
          </div>
          <div class="numbers__item-desc">
            Оборот компании в 2019 году
          </div>
        </div>
      </div>
      <img class="lazyload mw-100  numbers__victory numbers__victory-right"
        data-src="img/victory-right@2x.png" alt="left"
        src="data:image/gif;base64,R0lGODlhUACqAIAAAP///wAAACH5BAEAAAEALAAAAABQAKoAAAKLjI+py+0Po5y02ouz3rz7D4biSJbmiabqyrbuC8fyTNf2jef6zvf+DwwKh8Si8YhMKpfMpvMJjUqn1Kr1is1qt9yu9wsOi8fksvmMTqvX7Lb7DY/L5/S6/Y7P6/f8vv8PGCg4SFhoeIiYqLjI2Oj4CBkpOUlZaXmJmam5ydnp+QkaKjpKWmp6iqpUAAA7">
    </div>
  </div>
</section>