<div class="preloader">
  <div class="preloader__body">
    <img src="img/icons/mouse-big.png" alt="mouse"
      class="preloader__mouse preloader__img">
    <img src="img/icons/logo.svg" alt="logo"
      class="preloader__logo preloader__img">
    <img src="img/icons/best-100.png" alt="best 100"
      class="preloader__best preloader__img">
    <div class="preloader__info">
      <div class="preloader__title">
        топ 100
      </div>
      <div class="preloader__text">
        Поставщиков химии
        в мире по ICIS
      </div>
    </div>
    <div class="preloader__circle-wrapper">
      <div class="preloader__circle"></div>
    </div>
  </div>
</div>